@import "tailwindcss";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /* Important to remove extra margin in older Chrome versions */
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Standard property for modern browsers (use with vendor prefixes for best compatibility) */
input[type=number] {
    appearance: none;
}